# Exclude the other service's directory
power_core/power_core/_local_tests/
power_core/_old/
power_core/other/
power_core/startup/
power_core/power_core/docs/
power_core/strava/get_refresh_token.py
power_core/project_env/inspect_env.py
power_core/project_env/expanding_path.py
power_core/dropbox_usage/get_secr.py
power_core/heatmap_gpx/closer.py
power_core/heatmap_gpx/power.sh

# Standard Python ignores
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
venv/
.venv/
*.env
*.log

# IDE and git ignores
.git/
.gitignore
.idea/
.vscode/

# Local development files
script_progress.log
names.env
../wahoo.yaml
../wahoo_start.sh

