flask
gunicorn
dropbox
google-cloud-logging
google-auth
git+https://github.com/pathexplorer/fit2gpx.git@first
gcp-actions[processing-worker] @ git+https://github.com/pathexplorer/gcp_actions.git@0.1.12
gpxpy
numpy
pandas
lxml
fitdecode
python-dotenv
datetime
sib-api-v3-sdk
