<html>
<body>
    <!-- Hidden timestamp to prevent Gmail trimming -->
    <span style="display:none;font-size:0;color:transparent;">{unique_ts}</span>

    <h2 style="font-family: Arial, sans-serif;">Your Cleaned File is Ready</h2>
    <p style="font-family: Arial, sans-serif;">The cleaned version of <strong>{original_filename}</strong> is ready to be downloaded.</p>
    <p>
        <a href="{download_link}" style="background-color: #4CAF50; color: white; padding: 14px 25px; text-align: center; text-decoration: none; display: inline-block; border-radius: 8px; font-family: Arial, sans-serif;">
            Download Cleaned File
        </a>
    </p>
    <p style="font-family: Arial, sans-serif; font-size: small; color: #555;">Please note: This link will expire in approximately one hour.</p>
    
    <!-- This placeholder will be filled by an environment variable -->
    <p style="font-family: Arial, sans-serif;">Support this project: <a href="https://www.privat24.ua/send/{donation_section_privat}"> Privatbank </a> or <a href="https://send.monobank.ua/jar/{donation_section_mono}">MonoBank </a></p>



    <p style="font-family: Arial, sans-serif;">Happy riding!</p>
</body>
</html>
