<html>
<body>
    <span style="display:none;font-size:0;color:transparent;">{unique_ts}</span>
    <h2 style="font-family: Arial, sans-serif;">Ваш очищений файл готовий</h2>
    <p style="font-family: Arial, sans-serif;">Знайдено та вирішено {bad_lines} спроб телепортацій</p>
    <p style="font-family: Arial, sans-serif;">Очищена версія файлу <strong>{original_filename}</strong> готова до завантаження.</p>
    <p><a href="{download_link}" style="background-color: #4CAF50; color: white; padding: 14px 25px; text-align: center; text-decoration: none; display: inline-block; border-radius: 8px; font-family: Arial, sans-serif;">Завантажити очищений файл</a></p>
    <p style="font-family: Arial, sans-serif; font-size: small; color: #555;">Будь ласка, зверніть увагу: це посилання буде дійсне приблизно одну годину.</p>
    
    <!-- This placeholder will be filled by an environment variable -->
    <p style="font-family: Arial, sans-serif;">Підтримати функціонування сервісу: <a href="https://www.privat24.ua/send/{donation_section_private}"> на картку Приватбанку </a> або на <a href="https://send.monobank.ua/jar/{donation_section_mono}">Монобанку </a></p>
    <p style="font-family: Arial, sans-serif;">Вдалих поїздок!</p>
</body>
</html>
